# Your AI Foundry Project connection string, found in the Foundry Project Overview page
## Original 
## AIPROJECT_CONNECTION_STRING=https://swedencentral.api.azureml.ms;cd9bf09a-1733-431d-a239-91cde6c221b8;rg-amyai;firstProject
## AIPROJECT_CONNECTION_STRING=https://aif-amyaifoundry.services.ai.azure.com/api/projects/firstProject
AGENT_ID=asst_HkPiz9n1tnB9VHJ7YckpGW76
## AZURE_SUBSCRIPTION_ID=cd9bf09a-1733-431d-a239-91cde6c221b8
## AZURE_RESOURCE_GROUP=rg-amyai
## AZURE_PROJECT_NAME=firstProject
PROJECT_ENDPOINT=https://aif-amyaifoundry.services.ai.azure.com/api/projects/firstProject